!!!

- if company_signed_in?
  = render '/offers/index'
- elsif user_signed_in?
  = render '/offers/index'
- else
  .top-contents
    .header
      .header__logo
        %a{href: ""}
          =image_tag "footer-logo-wantedly.png"
      .header__menu
        .header__menu__right
          %ul
            %li
              %p iOS/Android アプリ
            %li
              %a{href: ""} 
                %img.icon{:alt => "Wantedly", :src => "https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg",}/
            %li
              %a{href: ""} 
                %img.icon{:alt => "Wantedly", :src => "https://de7iszmjjjuya.cloudfront.net/assets/wantedly-logo-5906d9a368d0bcdd2919553127357d4d.svg",}/
        
        .header__menu__left
          %ul
            %li
              ログイン
              #modal-overlay
                .hidden-menu
                  .hidden-menu__signIn
                    %ul
                      %li 
                        = link_to "ユーザー", new_user_session_path, class: 'user-menu'
                      %li
                        = link_to "採用担当者の方", new_company_session_path, class: 'user-menu'
            %li
              = link_to new_company_registration_path do 
                採用担当者の方(新規登録)
    .messages
      .messages__center
        .messages__center__top
          %h1「働くを面白く」
        .messages__center__middle
          %p 月間150万人が利用する、国内最大のビジネス SNS
        .messages__center__bottom
          .messages__center__bottom__SNS
            %a{href: ""}
              .square_btn Facebookで今すぐログイン
          .messages__center__bottom__Email
            = link_to new_user_registration_path do
              .square_btn Emailで登録
